.composer-header {
    .token {
        background: @background-primary;

        &.selected {
            box-shadow: none;
        }

        &:hover:not(.selected){
            background: @background-hover;
        }
    }
}

.emoji-button-popover .emoji-tabs .emoji-tab {
    background-color: @text-color !important;
}

.file-info-wrap {
    border: @file-info-border !important;
}

.file-action-icon {
    border: @file-info-border !important;
    border-left: 0px !important;
}