@import "ui-variables";

.thread-list .list-item{
    background-color:@background-primary;
    border-bottom: none !important;

    &:hover {
        background-color: #252838;
        color: @text-color-inverse !important;
    }

    &:not(.unread):not(.selected):not(.focused) {
        color: @text-color;
    }

    &.unread {
        color: @text-color-inverse;
    }
    &.focused {
        color: @text-color-inverse;

        &:hover {
            background-color: @accent-primary;
        }
    }

    .list-column.list-column-HoverActions {
        .inner {
            background-image: linear-gradient(to right, rgba(38, 38, 38, 0) 0%, @background-dark 50%, @background-dark 100%);
        }
    }
}

.menu .item:not(.active):not(.selected):hover {
    background-color: @list-hover-bg;
}

body.is-blurred {
    .thread-list .list-item{
        &.focused {
            background: fade(@accent-primary, 70%);
            color: @text-color-inverse;
        }
    }
}


.composer-action-bar-wrap, .composer-content-wrap{
    .inner {
        &.display-deferrable {
            background-color: @background-primary !important;
        }

    }

    background-color: @background-primary !important;
}