@import "ui-variables";

.thread-search-bar {
    .tokenizing-contenteditable .layer-text{
        color: @search-bar-text;
        caret-color: @search-bar-text;
    }

    .suggestions {
        background-color: @search-bar-background;
        color: @search-bar-text !important;

        .suggestion {
            color: @search-bar-text;
        }
    }
}

.fixed-popover {
    input.search {
        background-color: @search-bar-background !important;
        color: @search-bar-text !important;
        border: @search-bar-border !important;
    }
}
